@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800|Roboto");
.new-padding {
  padding: 80px 0; }

.wide-btn {
  width: 170px;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #998675;
  box-shadow: inset 0px -3px 0 0 #736357;
  border: none; }
  .wide-btn:focus {
    outline: none; }

.section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
  margin-bottom: 24px;
  text-align: center; }

.section-title-desc {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #8c8c8c;
  line-height: 1.75; }

header {
  background: #3e403f url("../img/headback.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh; }
  header .logo-menu-wrap {
    padding-top: 40px;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 991.98px) {
      header .logo-menu-wrap {
        flex-direction: column; } }
    header .logo-menu-wrap .logo-wrap {
      display: flex;
      align-content: center; }
      header .logo-menu-wrap .logo-wrap:hover svg {
        fill: #c7b299; }
      header .logo-menu-wrap .logo-wrap svg {
        fill: #fff; }
      header .logo-menu-wrap .logo-wrap:hover {
        text-decoration: none; }
      header .logo-menu-wrap .logo-wrap span {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 34px;
        color: #fff;
        letter-spacing: -1.4px; }
    header .logo-menu-wrap .menu-wrap-top {
      display: flex; }
      header .logo-menu-wrap .menu-wrap-top .nav-top {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        text-transform: capitalize;
        padding-right: 30px; }
        header .logo-menu-wrap .menu-wrap-top .nav-top:last-child {
          padding-right: 0; }
        header .logo-menu-wrap .menu-wrap-top .nav-top:hover {
          text-decoration: none;
          color: #c7b299; }
      header .logo-menu-wrap .menu-wrap-top .ico-wrap-top {
        margin-left: 50px;
        text-decoration: none; }
        header .logo-menu-wrap .menu-wrap-top .ico-wrap-top span {
          color: #fff; }
          header .logo-menu-wrap .menu-wrap-top .ico-wrap-top span:first-child {
            padding-right: 15px; }
          header .logo-menu-wrap .menu-wrap-top .ico-wrap-top span:hover {
            text-decoration: none;
            color: #c7b299; }

#brands {
  background: #3e403f url("../img/mountain.jpg") no-repeat center center;
  background-size: cover; }
  #brands .brands-wrap {
    padding: 138px 0;
    justify-content: space-between;
    align-items: center; }

#pluses .pluses-wrap {
  justify-content: space-around; }
  #pluses .pluses-wrap .pluses-unit-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer; }
    #pluses .pluses-wrap .pluses-unit-wrap:hover .pluses-unit-title {
      color: #c7b299; }
    #pluses .pluses-wrap .pluses-unit-wrap:hover .pluses-unit-ico {
      fill: #c7b299; }
    #pluses .pluses-wrap .pluses-unit-wrap:after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      background: #f1eee9; }
    #pluses .pluses-wrap .pluses-unit-wrap:hover:after {
      background: #c7b299; }
    #pluses .pluses-wrap .pluses-unit-wrap .pluses-unit-ico {
      fill: #555555;
      margin-bottom: 20px; }
    #pluses .pluses-wrap .pluses-unit-wrap .pluses-unit-title {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      font-size: 22px;
      color: #555555;
      margin-bottom: 18px; }
    #pluses .pluses-wrap .pluses-unit-wrap .pluses-unit-desc {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #8c8c8c; }

#ideas {
  background: #fbfaf8;
  padding-top: 80px; }
  #ideas .ideas-wrap {
    flex-direction: column;
    align-items: center; }
    #ideas .ideas-wrap .ideas-desc {
      max-width: 780px;
      text-align: center;
      margin-bottom: 40px; }
    #ideas .ideas-wrap .ideas-img-wrap {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center; }
      #ideas .ideas-wrap .ideas-img-wrap img:nth-child(1) {
        position: absolute;
        bottom: 0;
        left: 0; }
      #ideas .ideas-wrap .ideas-img-wrap img:nth-child(2) {
        z-index: 10; }
      #ideas .ideas-wrap .ideas-img-wrap img:nth-child(3) {
        position: absolute;
        bottom: 0;
        right: 0; }

#buy-wp {
  background: linear-gradient(to right, #211b19, #4e3427);
  padding: 40px 0; }
  #buy-wp .buy-wp-wrap {
    justify-content: space-between; }
    #buy-wp .buy-wp-wrap .buy-wp-left-side {
      display: flex;
      flex-direction: column; }
      #buy-wp .buy-wp-wrap .buy-wp-left-side .buy-wp-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 28px;
        color: #fff;
        text-transform: capitalize; }
        #buy-wp .buy-wp-wrap .buy-wp-left-side .buy-wp-title span {
          color: #c7b299; }
      #buy-wp .buy-wp-wrap .buy-wp-left-side .buy-wp-desc {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #615855; }

footer .main-footer {
  background: #191919; }
  footer .main-footer .main-footer-wrap {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555555; }
    footer .main-footer .main-footer-wrap .footer-title {
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      font-size: 24px;
      color: #fff;
      text-transform: capitalize;
      margin-bottom: 30px; }
    footer .main-footer .main-footer-wrap .footer-about-company {
      display: flex;
      flex-flow: wrap column; }
      footer .main-footer .main-footer-wrap .footer-about-company .logo-footer-wrap {
        display: flex;
        align-content: center;
        margin-top: -20px;
        margin-bottom: 30px; }
        footer .main-footer .main-footer-wrap .footer-about-company .logo-footer-wrap:hover {
          text-decoration: none; }
        footer .main-footer .main-footer-wrap .footer-about-company .logo-footer-wrap span {
          font-family: 'Raleway', sans-serif;
          font-weight: 400;
          font-size: 34px;
          color: #fff;
          letter-spacing: -1.4px; }
      footer .main-footer .main-footer-wrap .footer-about-company p {
        margin-bottom: 30px;
        line-height: 1.71; }
      footer .main-footer .main-footer-wrap .footer-about-company .footer-about-company-link {
        text-transform: capitalize;
        color: #d1d1d1;
        display: block;
        position: relative; }
        footer .main-footer .main-footer-wrap .footer-about-company .footer-about-company-link:hover {
          text-decoration: none;
          color: #c7b299; }
        footer .main-footer .main-footer-wrap .footer-about-company .footer-about-company-link:after {
          content: '';
          position: absolute;
          top: 5px;
          left: 89px;
          border: 5px solid transparent;
          border-left: 9px solid #d1d1d1; }
        footer .main-footer .main-footer-wrap .footer-about-company .footer-about-company-link:hover:after {
          border-left: 9px solid #c7b299; }
    footer .main-footer .main-footer-wrap .footer-recent-post {
      display: flex;
      flex-flow: wrap column; }
      footer .main-footer .main-footer-wrap .footer-recent-post .footer-recent-post-wrap {
        display: flex;
        flex-flow: column;
        cursor: pointer; }
        footer .main-footer .main-footer-wrap .footer-recent-post .footer-recent-post-wrap:hover .footer-recent-post-date {
          transition: 1s;
          color: #fff; }
        footer .main-footer .main-footer-wrap .footer-recent-post .footer-recent-post-wrap:hover p {
          transition: 1s;
          color: #c7b299; }
        footer .main-footer .main-footer-wrap .footer-recent-post .footer-recent-post-wrap:nth-child(n+3) {
          padding-top: 20px;
          border-top: 2px solid #252525; }
        footer .main-footer .main-footer-wrap .footer-recent-post .footer-recent-post-wrap .footer-recent-post-date {
          font-size: 12px;
          color: #363636;
          padding-bottom: 10px; }
    footer .main-footer .main-footer-wrap .footer-our-twitter {
      display: flex;
      flex-flow: column; }
      footer .main-footer .main-footer-wrap .footer-our-twitter .footer-twitter-wrap {
        display: flex;
        flex-flow: column; }
        footer .main-footer .main-footer-wrap .footer-our-twitter .footer-twitter-wrap:nth-child(n+3) {
          padding-top: 20px;
          border-top: 2px solid #252525; }
        footer .main-footer .main-footer-wrap .footer-our-twitter .footer-twitter-wrap .footer-twitter-post {
          margin-bottom: 0; }
          footer .main-footer .main-footer-wrap .footer-our-twitter .footer-twitter-wrap .footer-twitter-post a {
            color: #00bff3; }
        footer .main-footer .main-footer-wrap .footer-our-twitter .footer-twitter-wrap .footer-twitter-post-time {
          font-size: 12px;
          color: #363636;
          padding: 10px 0; }
    footer .main-footer .main-footer-wrap .footer-drible-widget {
      display: flex;
      flex-flow: wrap column; }
      footer .main-footer .main-footer-wrap .footer-drible-widget .footer-widget-wrap {
        display: flex;
        flex-flow: wrap; }
        footer .main-footer .main-footer-wrap .footer-drible-widget .footer-widget-wrap img {
          width: 50%;
          padding: 5px; }
footer .under-footer {
  background: #111111;
  padding: 45px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #555555; }
  footer .under-footer .under-footer-wrap {
    justify-content: space-between; }
    footer .under-footer .under-footer-wrap .under-footer-left-side {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0; }
      footer .under-footer .under-footer-wrap .under-footer-left-side li {
        display: inline-block; }
        footer .under-footer .under-footer-wrap .under-footer-left-side li:not(:last-child):after {
          content: '';
          position: relative;
          top: 1px;
          right: -3px;
          border-left: 1px solid #555555; }
        footer .under-footer .under-footer-wrap .under-footer-left-side li span {
          color: #959595;
          padding-right: 5px; }
        footer .under-footer .under-footer-wrap .under-footer-left-side li a {
          padding: 0 5px;
          color: #555555; }
          footer .under-footer .under-footer-wrap .under-footer-left-side li a:hover {
            text-decoration: none;
            color: #c7b299; }
          footer .under-footer .under-footer-wrap .under-footer-left-side li a:not(:last-child) {
            border-right: 1px solid #555555; }
    footer .under-footer .under-footer-wrap .under-footer-right-side {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0; }
      footer .under-footer .under-footer-wrap .under-footer-right-side li {
        display: inline-block; }
        footer .under-footer .under-footer-wrap .under-footer-right-side li a {
          padding: 0 5px;
          color: #959595; }
          footer .under-footer .under-footer-wrap .under-footer-right-side li a:hover {
            text-decoration: none;
            color: #c7b299; }

/*# sourceMappingURL=main.css.map */
