@import "variables.scss";
@import "breakpoints";

header {
  background: #3e403f url("../img/headback.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  @include media-breakpoint-down(sm) {
    height: auto;
  }
  .menu-wrap {
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 40px;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    @include media-breakpoint-down(sm) {
      display: block;
      top: 0;
    }
    .navbar {
      background-color: transparent;
      @include media-breakpoint-up(md) {
        display: none;
      }
      .navbar-brand {
        fill: $light-color;
        span {
          @include font-raleway(400, 26px, $light-color);
          letter-spacing: -1.4px;
        }
      }
      .form-inline {
        .form-control {
          background: transparent;
          &:focus {
            border-color: $beige-color;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(199,178,153,.25);
          }
        }
      }
    }
    .logo-wrap {
      display: flex;
      align-content: center;
      @include media-breakpoint-down(sm) {
        display: none;
      }
      &:hover svg {
        fill: $beige-color;
      }
      svg {
        fill: $light-color;
      }
      &:hover {
        text-decoration: none;
      }
      span {
        @include font-raleway(400, 34px, $light-color);
        letter-spacing: -1.4px;
      }
    }
    .menu-list-wrap {
      display: flex;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
      .menu-top-list {
          padding: 0;
          margin: 0;
          .nav-top {
            display: inline-block;
            padding-right: 15px;
            &:last-child {
              padding-right: 0;
            }
            a {
              @include font-montserrat(400, 14px, $light-color);
              text-transform: capitalize;
              @include hover();
            }
          }
        }
      .ico-top-wrap {
          display: flex;
          margin-left: 50px;
          @include media-breakpoint-down(md) {
            margin: 10px 0 0 0;
          }
          .shop-ico-top {
            text-decoration: none;
            span{
              color: $light-color;
              &:first-child {
                padding-right: 15px;
              }
              @include hover();
            }
          }
          .search-ico-top {
            input {
              width: 15px;
              padding-left: 10px;
              color: transparent;
              cursor: pointer;
              background: transparent url(../img/icon-search.svg) no-repeat 3px center;
              border: none;
              border-radius: 10em;
              transition: all .5s;
              outline: none;
              &:focus {
                width: 130px;
                padding-left: 32px;
                color: white;
                background-color: transparent;
                cursor: auto;
                border-bottom: 2px solid $beige-color;
                &::-webkit-input-placeholder {
                  color: white;
                }
              }
              -webkit-appearance: textfield;
              -webkit-box-sizing: content-box;
              &::-webkit-search-decoration,
              &::-webkit-search-cancel-button {
                display: none;
              }
              &::-moz-placeholder {
                color: transparent;
              }
              &::-webkit-input-placeholder {
                color: transparent;
              }
            }
          }
        }
    }
  }
  .carousel-wrap {
    margin-top: 40px;
    @include media-breakpoint-down(sm){
      display: none;
    }
    .carousel {
      width: 100%;
      height: 87vh;
      @include media-breakpoint-down(md) {
        height: 76vh;
      }
      .carousel-item-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 14% 144px 0 144px;
        background: none;
        color: white;
        text-align: center;
        @include media-breakpoint-down(md) {
          padding-top: 30px;
        }
        h1 {
          @include font-raleway(500, 34px, $light-color);
        }
        span {
          @include font-raleway(800, 52px, $light-color);
        }
        p {
          width: 95%;
          @include  font-montserrat(400, 16px, $light-color);
        }
        button {
          margin-top: 30px;
        }
      }
      .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 43px;
        height: 74px
      }
      .carousel-control-next-icon {
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 40 73'%3E%3Cpath  d='M 1.97 72.98C 1.97 72.98 40 36.5 40 36.5 40 36.5 1.97 0.02 1.97 0.02 1.97 0.02 0 2.02 0 2.02 0 2.02 35.93 36.5 35.93 36.5 35.93 36.5 0 70.98 0 70.98 0 70.98 1.97 72.98 1.97 72.98Z'/%3E%3C/svg%3E") no-repeat;
      }
      .carousel-control-prev-icon {
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 40 73'%3E%3Cpath d='M 38.03 72.98C 38.03 72.98 0 36.5 0 36.5 0 36.5 38.03 0.02 38.03 0.02 38.03 0.02 40 2.02 40 2.02 40 2.02 4.07 36.5 4.07 36.5 4.07 36.5 40 70.98 40 70.98 40 70.98 38.03 72.98 38.03 72.98Z'/%3E%3C/svg%3E") no-repeat;
      }
    }
  }
}

#pluses {
  .pluses-wrap {
    justify-content: space-around;
    .pluses-unit-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;
      &:hover .pluses-unit-title {
        color: $beige-color;
      }
      &:hover .pluses-unit-ico {
        fill: $beige-color;
      }
      &:after {
        content: "";
        display: block;
        width: 70px;
        height: 3px;
        background: #f1eee9;
      }
      &:hover:after {
        background: $beige-color;
      }
      @include media-breakpoint-down(md) {
        &:nth-child(n+3) {
          margin-top: 30px;
        }
      }
      @include media-breakpoint-down(sm) {
        &:nth-child(n+2) {
          margin-top: 15px;
        }
      }
      .pluses-unit-ico {
        fill: $dark-color-title;
        margin-bottom: 20px;
      }
      .pluses-unit-title {
        @include font-raleway(600, 22px, $dark-color-title);
        margin-bottom: 18px;
      }
      .pluses-unit-desc{
        @include font-montserrat(400, 14px, $light-color-txt );
      }
    }
  }
}
#ideas {
  background: $gray-color;
  padding-top: 80px;
  @include media-breakpoint-down(sm) {
    padding-top: 15px;
  }
  .ideas-wrap {
    flex-direction: column;
    align-items: center;
    .ideas-desc {
      max-width: 780px;
      text-align: center;
      margin-bottom: 40px;
    }
    .ideas-img-wrap {
      width:100%;
      position: relative;
      display: flex;
      justify-content: center;
      img:nth-child(1) {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      img:nth-child(2){
        z-index: 10;
        @include media-breakpoint-down(md) {
          height: 100%;
        }
      }
      img:nth-child(3){
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
#buy-wp {
  background: linear-gradient(to right, #211b19, #4e3427);
  padding: 40px 0;
  .buy-wp-wrap {
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .buy-wp-left-side {
      display: flex;
      flex-direction: column;
      .buy-wp-title {
        @include font-raleway(400, 28px, $light-color);
        text-transform: capitalize;
        span {
          color: $beige-color;
        }
      }
      .buy-wp-desc {
        @include font-montserrat(400, 18px, #615855)
      }
    }
    .wide-btn {
      @include media-breakpoint-down(sm) {
        margin-top: 10px;
      }
    }
  }
}
#our-project {
  .our-project-wrap {
    flex-direction: column;
    align-items: center;
    .our-project-desc {
      max-width: 780px;
      text-align: center;
      margin-bottom: 40px;
    }
    .our-project-nav {
      display: flex;
      justify-content: space-between;
      width: 600px;
      margin-bottom: 40px;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        width: 100%;
        .narrow-btn:nth-child(N+2) {
          margin-top: 10px ;
        }
      }
    }
  }
  .our-project-preview-wrap {
    justify-content: space-between;
    &:nth-child(n+4) {
      margin-top: 30px;
    }
    @include media-breakpoint-down(lg) {
      justify-content: space-evenly;
      .our-project-preview-unit:nth-child(n+3) {
        margin-top: 30px;
      }
    }
    @include media-breakpoint-down(md) {
      justify-content: center;
      .our-project-preview-unit:nth-child(n+2) {
        margin-top: 15px;
      }
    }
    .our-project-preview-unit {
      position: relative;
      height: 337px;
      width: 370px;
      background-color: $gray-color;
      background-clip: content-box;
      outline: none;
      cursor: pointer;
      &:hover {
        background-color: #362f2d;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 99px;
        left: calc(10% - 10px);
        border: 18px solid transparent;
        border-bottom: 12px solid $gray-color;
      }
      &:hover:after {
        border-bottom: 12px solid #362f2d;
      }
      .our-project-preview-ico-link {
        visibility: hidden;
        position: absolute;
        top: 110px;
        left: 140px;
        fill: $light-color;
        &:hover {
          fill: $beige-color;
        }
      }
      .our-project-preview-ico-lupa {
        visibility: hidden;
        position: absolute;
        top: 110px;
        right: 140px;
        fill: $light-color;
        &:hover {
          fill: $beige-color;
        }
      }
      &:focus {
        background-color: #362f2d;
      }
      &:focus:after {
        border-bottom: 12px solid #362f2d;
      }
      &:focus .our-project-preview-photo {
        filter: brightness(40%);
        transition: ease-in-out 300ms;
      }
      &:focus [class^="our-project-preview-ico"] {
        visibility: visible;
      }
      .our-project-preview-desc {
        padding: 21.5px;
        width: 370px;
        h3 {
          @include font-raleway(500, 20px, $beige-color);
          line-height: normal;
        }
        span {
          @include font-montserrat(400, 14px, #d1d1d1)
        }
      }
    }
  }
}
#video-pres {
  overflow: hidden;
  video {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
#mobile-pres {
  padding-top: 80px;
  background: $gray-color;
  .mobile-pres-wrap {
    justify-content: space-around;
    align-items: center;
    .mobile-pres-desc-wrap {
      width: 710px;
      .mobile-pres-desc-list {
        list-style: none;
        @include font-montserrat(400, 16px, $light-color-txt);
        line-height: 2;
        padding-left: 80px;
        li {
          position: relative;
          &:before {
            content:'';
            display: inline-block;
            width: 21px;
            height: 21px;
            position: absolute;
            left: -40px;
            top: 3px;
            background: url("../img/03.svg")no-repeat;
          }
        }
      }
    }

  }
}
#score {
  background-image: linear-gradient(to right, #211b19, #4e3427);
  padding: 30px;
  .score-wrap {
    justify-content: center;
    .score-unit {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 20px 40px;
      &:after {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background: #fff;
      }
      i {
        color: $beige-color;
        font-size: 40px;
      }
      figcaption {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
        .score-unit-point {
          @include font-montserrat(300, 48px, $light-color);
        }
        .score-unit-desc {
          @include font-montserrat(300, 12px, $beige-color);
          text-transform: uppercase;
        }
      }
    }
  }
}
#recent-post {
  .recent-post-wrap {
    flex-direction: column;
    align-items: center;
    .section-title-desc {
      max-width: 780px;
      text-align: center;
      margin-bottom: 40px
    }
    .recent-post-preview-wrap {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .recent-post-unit {
        width: 370px;
        .recent-post-unit-photo-wrap {
          position: relative;
          time {
            width: 50px;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 20px;
            left: 20px;
            span {
              text-align: center;
              &:first-child {
                height: 35px;
                background: #363636;
                @include font-montserrat(400, 24px, $light-color);
                line-height: 36px;
                border-top: 1px solid #363636;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
              }
              &:last-child {
                height: 25px;
                background: #252525;
                @include font-roboto(400, 12px, $light-color);
                border-bottom: 1px solid #252525;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
              }
            }
          }
        }
        .recent-post-unit-desc {
          padding: 30px;
          h3 {
            @include font-raleway(500, 20px, $dark-color-title);
          }
          p {
            @include font-montserrat(400, 14px, $light-color-txt);
          }
        }
      }
    }
  }
}
#brands {
background: #3e403f url("../img/mountain.jpg") no-repeat center center;
  background-size: cover;
  .brands-wrap {
    padding: 138px 0;
    justify-content: space-between;
    align-items: center;
  }
}

footer {
  .main-footer {
    background: $main-foot-color;
    .main-footer-wrap {
      @include font-montserrat(400, 14px, $light-foot-color);
      .footer-title {
        @include font-raleway (400, 24px, $light-color);
        text-transform: capitalize;
        margin-bottom: 30px;
      }
      .footer-about-company {
        display: flex;
        flex-flow: wrap column;
        .logo-footer-wrap {
          width: 178px;
          display: flex;
          align-content: center;
          margin-top: -20px;
          margin-bottom: 30px;
          &:hover {
            text-decoration: none;
          }
          span {
            @include font-raleway(400, 34px, $light-color);
            letter-spacing: -1.4px;
          }
        }
        p {
          margin-bottom: 30px;
          line-height: 1.71;
        }
        .footer-about-company-link {
          text-transform: capitalize;
          color: #d1d1d1;
          @include hover();
          display: block;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            top: 5px;
            left: 89px;
            border: 5px solid transparent;
            border-left: 9px solid #d1d1d1;
          }
          &:hover:after {
            border-left: 9px solid $beige-color;
          }
        }
      }
      .footer-recent-post {
        display: flex;
        flex-flow: wrap column;
        .footer-recent-post-wrap {
          display: flex;
          flex-flow: column;
          cursor: pointer;
          &:hover {
            .footer-recent-post-date {
              transition: 1s;
              color: $light-color;
            }
            p {
              transition: 1s;
              color: $beige-color;
            }
          }
          &:nth-child(n+3) {
            padding-top: 20px;
            border-top: 2px solid #252525 ;
          }
          .footer-recent-post-date {
            font-size: 12px;
            color: #363636;
            padding-bottom: 10px;
          }
        }
      }
      .footer-our-twitter {
        display: flex;
        flex-flow: column;
        .footer-twitter-wrap {
          display: flex;
          flex-flow: column;
          &:nth-child(n+3) {
            padding-top: 20px;
            border-top: 2px solid #252525 ;
          }
          .footer-twitter-post {
            margin-bottom: 0;
            a {
              color: #00bff3;
            }
          }
          .footer-twitter-post-time {
            font-size: 12px;
            color: #363636;
            padding: 10px 0;
          }
        }
      }
      .footer-drible-widget {
        display: flex;
        flex-flow: wrap column;
        .footer-widget-wrap {
          display: flex;
          flex-flow: wrap;
          img {
            width: 50%;
            padding: 5px;
          }
        }
      }
    }
  }
  .under-footer {
    background: $under-foot-color;
    padding: 45px 0;
    @include font-montserrat(400, 13px, $light-foot-color);
    .under-footer-wrap {
      justify-content: space-between;
      .under-footer-left-side {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
          display: inline-block;
          &:not(:last-child):after {
            content: '';
            position: relative;
            top: 1px;
            right: -3px;
            border-left: 1px solid $light-foot-color;
          }
          span {
            color: #959595;
            padding-right: 5px;
          }
          a{
            padding: 0 5px;
            color: $light-foot-color;
            @include hover();
            &:not(:last-child) {
              border-right: 1px solid $light-foot-color;
            }
          }
        }
      }
      .under-footer-right-side {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li{
          display: inline-block;
          a{
            padding: 0 5px;
            color: #959595;
            @include hover();
          }
        }
      }
    }
  }
}