@import "variables.scss";
@import "breakpoints";
header {
  background: #3e403f url("../img/headback.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  .logo-menu-wrap {
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    .logo-wrap {
      display: flex;
      align-content: center;
      &:hover svg {
        fill: $beige-color;
      }
      svg {
        fill: $light-color;
      }
      &:hover {
        text-decoration: none;
      }
      span {
        @include font-raleway(400, 34px, $light-color);
        letter-spacing: -1.4px;
      }
    }
    .menu-wrap-top {
      display: flex;
      .nav-top {
        @include font-montserrat(400, 14px, $light-color);
        text-transform: capitalize;
        padding-right: 30px;
        &:last-child {
          padding-right: 0;
        }
        @include hover();
      }
      .ico-wrap-top {
        margin-left: 50px;
        text-decoration: none;
        span{
          color: $light-color;
          &:first-child {
            padding-right: 15px;
          }
          @include hover();
        }
      }
    }
  }
}
#pluses {
  .pluses-wrap {
    justify-content: space-around;
    .pluses-unit-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;
      &:hover .pluses-unit-title {
        color: $beige-color;
      }
      &:hover .pluses-unit-ico {
        fill: $beige-color;
      }
      &:after {
        content: "";
        display: block;
        width: 70px;
        height: 3px;
        background: #f1eee9;
      }
      &:hover:after {
        background: $beige-color;
      }
      .pluses-unit-ico {
        fill: $dark-color-title;
        margin-bottom: 20px;
      }
      .pluses-unit-title {
        @include font-raleway(600, 22px, $dark-color-title);
        margin-bottom: 18px;
      }
      .pluses-unit-desc{
        @include font-montserrat(400, 14px, $light-color-txt );
      }
    }
  }
}
#ideas {
  background: $gray-color;
  padding-top: 80px;
  .ideas-wrap {
    flex-direction: column;
    align-items: center;
    .ideas-desc {
      max-width: 780px;
      text-align: center;
      margin-bottom: 40px;
    }
    .ideas-img-wrap {
      width:100%;
      position: relative;
      display: flex;
      justify-content: center;
      img:nth-child(1) {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      img:nth-child(2){
        z-index: 10;
      }
      img:nth-child(3){
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
#buy-wp {
  background: linear-gradient(to right, #211b19, #4e3427);
  padding: 40px 0;
  .buy-wp-wrap {
    justify-content: space-between;
    .buy-wp-left-side {
      display: flex;
      flex-direction: column;
      .buy-wp-title {
        @include font-raleway(400, 28px, $light-color);
        text-transform: capitalize;
        span {
          color: $beige-color;
        }
      }
      .buy-wp-desc {
        @include font-montserrat(400, 18px, #615855)
      }
    }
    .wide-btn {

    }
  }
}
#our-project {
  .our-project-wrap {
    flex-direction: column;
    align-items: center;
    .our-project-desc {
      max-width: 780px;
      text-align: center;
      margin-bottom: 40px;
    }
    .our-project-nav {
      display: flex;
      justify-content: space-between;
      width: 600px;
    }
  }
}
#brands {
  background: #3e403f url("../img/mountain.jpg") no-repeat center center;
  background-size: cover;
  .brands-wrap {
    padding: 138px 0;
    justify-content: space-between;
    align-items: center;
  }
}

footer {
  .main-footer {
    background: $main-foot-color;
    .main-footer-wrap {
      @include font-montserrat(400, 14px, $light-foot-color);
      .footer-title {
        @include font-raleway (400, 24px, $light-color);
        text-transform: capitalize;
        margin-bottom: 30px;
      }
      .footer-about-company {
        display: flex;
        flex-flow: wrap column;
        .logo-footer-wrap {
          display: flex;
          align-content: center;
          margin-top: -20px;
          margin-bottom: 30px;
          &:hover {
            text-decoration: none;
          }
          span {
            @include font-raleway(400, 34px, $light-color);
            letter-spacing: -1.4px;
          }
        }
        p {
          margin-bottom: 30px;
          line-height: 1.71;
        }
        .footer-about-company-link {
          text-transform: capitalize;
          color: #d1d1d1;
          @include hover();
          display: block;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            top: 5px;
            left: 89px;
            border: 5px solid transparent;
            border-left: 9px solid #d1d1d1;
          }
          &:hover:after {
            border-left: 9px solid $beige-color;
          }
        }
      }
      .footer-recent-post {
        display: flex;
        flex-flow: wrap column;
        .footer-recent-post-wrap {
          display: flex;
          flex-flow: column;
          cursor: pointer;
          &:hover {
            .footer-recent-post-date {
              transition: 1s;
              color: $light-color;
            }
            p {
              transition: 1s;
              color: $beige-color;
            }
          }
          &:nth-child(n+3) {
            padding-top: 20px;
            border-top: 2px solid #252525 ;
          }
          .footer-recent-post-date {
            font-size: 12px;
            color: #363636;
            padding-bottom: 10px;
          }
        }
      }
      .footer-our-twitter {
        display: flex;
        flex-flow: column;
        .footer-twitter-wrap {
          display: flex;
          flex-flow: column;
          &:nth-child(n+3) {
            padding-top: 20px;
            border-top: 2px solid #252525 ;
          }
          .footer-twitter-post {
            margin-bottom: 0;
            a {
              color: #00bff3;
            }
          }
          .footer-twitter-post-time {
            font-size: 12px;
            color: #363636;
            padding: 10px 0;
          }
        }
      }
      .footer-drible-widget {
        display: flex;
        flex-flow: wrap column;
        .footer-widget-wrap {
          display: flex;
          flex-flow: wrap;
          img {
            width: 50%;
            padding: 5px;
          }
        }
      }
    }
  }
  .under-footer {
    background: $under-foot-color;
    padding: 45px 0;
    @include font-montserrat(400, 13px, $light-foot-color);
    .under-footer-wrap {
      justify-content: space-between;
      .under-footer-left-side {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
          display: inline-block;
          &:not(:last-child):after {
            content: '';
            position: relative;
            top: 1px;
            right: -3px;
            border-left: 1px solid $light-foot-color;
          }
          span {
            color: #959595;
            padding-right: 5px;
          }
          a{
            padding: 0 5px;
            color: $light-foot-color;
            @include hover();
            &:not(:last-child) {
              border-right: 1px solid $light-foot-color;
            }
          }
        }
      }
      .under-footer-right-side {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li{
          display: inline-block;
          a{
            padding: 0 5px;
            color: #959595;
            @include hover();
          }
        }
      }
    }
  }
}