@import "breakpoints";
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-regular.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-regular.woff') format('woff'),
  url('../fonts/montserrat/montserrat-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-light.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-light.woff') format('woff'),
  url('../fonts/montserrat/montserrat-light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway/raleway-extrabold.woff2') format('woff2'),
  url('../fonts/raleway/raleway-extrabold.woff') format('woff'),
  url('../fonts/raleway/raleway-extrabold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway/raleway-bold.woff2') format('woff2'),
  url('../fonts/raleway/raleway-bold.woff') format('woff'),
  url('../fonts/raleway/raleway-bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway/raleway-semibold.woff2') format('woff2'),
  url('../fonts/raleway/raleway-semibold.woff') format('woff'),
  url('../fonts/raleway/raleway-semibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src:
  url('../fonts/raleway/raleway-medium.woff2') format('woff2'),
  url('../fonts/raleway/raleway-medium.woff') format('woff'),
  url('../fonts/raleway/raleway-medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway/raleway-regular.woff2') format('woff2'),
  url('../fonts/raleway/raleway-regular.woff') format('woff'),
  url('../fonts/raleway/raleway-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto/roboto-regular.woff2') format('woff2'),
  url('../fonts/roboto/roboto-regular.woff') format('woff'),
  url('../fonts/roboto/roboto-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@mixin font-raleway ($weight, $size, $color) {
  font-family: 'raleway', sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}
@mixin font-montserrat ($weight, $size, $color) {
  font-family: 'montserrat', sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}
@mixin font-roboto ($weight, $size, $color) {
  font-family: 'roboto', sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}
@mixin hover () {
  &:hover {
    text-decoration: none;
    color: #c7b299;
  }
}

$light-color: #fff;
$gray-color:#fbfaf8;
$beige-color: #c7b299;
$dark-color-title:#555555;
$light-color-txt: #8c8c8c;
$main-foot-color: #191919;
$light-foot-color: #555555;
$under-foot-color: #111111;
@mixin element-color($color) {
  background-image: url('data:../img/svg+xml;utf8,<svg ...><g stroke="#{$color}" ... /></g></svg>');
}

.new-padding {
  padding: 80px 0;
  @include media-breakpoint-down(sm) {
    padding: 10px 0;
  }
}
.wide-btn {
  width: 170px;
  height: 50px;
  @include font-raleway(800, 14px, $light-color);
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #998675;
  box-shadow: inset 0px -6px 0 0 #736357;
  border:none;
  overflow: hidden;
  position: relative;
  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
  }
  &:hover {
    &:after {
      left: 120%;
      transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  &:active {
    transform: translateY(3px);
  }
}
.narrow-btn {
  padding: 4px 20px;
  @include font-montserrat(400, 14px, $light-color-txt);
  text-transform: capitalize;
  background: transparent;
  border-radius: 3px;
  border: solid 1px #ebebeb;
  &:focus {
    outline: none;
    background-color: #998675;
    color: #fff;
  }
}
.section-title {
  @include font-raleway(600, 30px, $dark-color-title);
  margin-bottom: 24px;
  text-align: center;
}
.section-title-desc {
  @include font-montserrat(400, 16px, $light-color-txt);
  line-height: 1.75;
}